#gio1{
    color:#ff00ff ;background-color: #ffffff;
}
#gio2{
    color:#ff0013 ;background-color: #000000;
}
#gio3{
    color:#00ff00;background-color: #00aaff;
}
#gio4{
    color:#00ffff;background-color: #aabbcc;
}
#gio5{
    color:#0000ff ;background-color: #abcdef;
}
