.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    height: 300px;
    background: #0e2b5c;
    padding: 10px;
  }

  .item1 {
    background-color: #6adc4b;
    grid-column: 1 / span 3;
    border-radius: 10px;
  }

  .item2 {
    background-color: #9244be;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
    border-radius: 10px;
  }

  .item3 {
    background-color: #33562b;
    grid-column: 3;
    grid-row: 2;
    border-radius: 10px;
  }

  .item4 {
    background-color: #726e75;
    grid-column: 3;
    grid-row: 3;
    border-radius: 10px;
  }