body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
}
.container {
    width: 500px;
    height: 500px;
    background-image: url("goa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
}